.header-row {
    background-color: #a0805d;
    height: 50px;
}

.logo-title {
    color: white;
    padding-left: 20px;
    padding-top: 8px;
}

.cat-image {
    margin: 6px;
    width: 100%;
    height: auto;
}

.red-text-color {
    color: red;
}

.black-text-color {
    color: #212529;
}

.submit-request-form {
    margin: auto;
    max-width: 200px;
}

.overall-stats-list {
    text-align: left;
    margin: auto;
    width: fit-content;
}

.margin-auto {
    margin: auto;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.input-text {
    max-width: 200px;
}

.input-number {
    max-width: 100px;
    margin-right: 10px;
}

.start-training-button {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 200px;
    /* background-color: rgb(190, 21, 55);
    border-color: rgb(190, 21, 55); */
}

/* .start-training-button:hover {
    background-color: rgb(239, 59, 95);
    border-color: rgb(239, 59, 95);
} */

.border-left {
    border-left: 2px solid #efefefc5;
    height: 100vh;
}

.text-align-center {
    text-align: center;
}

.all-trainings-table {
    margin: 10px 20px 10px 20px;
}

.dashboard-dropdown {
    width: 200px;
}

.total-revenue {
    font-weight: 600;
}